.columns > div {
  display: flex;
  flex-direction: column;  
}

.columns img {
  width: 300px; 
  border-radius: 30px;
 }

.columns > div > div {
  order: 1;
  
}

.columns > div > .columns-img-col {
  order: 0;
  flex: 1;  
  align-self: flex-start;
 }

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    /*gap: 32px;*/
  }

  .columns > div > div {
    flex: 2;
    order: unset;
  }
}
